<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>QuizZz</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	
	<link rel="stylesheet" th:href="@{/css/main.css}"
		href="../../css/main.css" />
</head>
<body>

	<div th:replace="fragments/header :: header">...</div>
	
	<div class="container">
	
		<div class="col-sm-2"></div>
		
		<div class="col-sm-8">
			<h1 th:text="#{label.registration.title}" class="form-signin">form</h1>
			<br/>
			<form action="/user/registration" th:object="${user}" method="POST" enctype="utf8">
			    <div>
			    	<p th:each="error: ${#fields.errors('username')}" th:text="${error}">Validation error</p>
			        <label th:text="#{label.user.username}" >username</label><br/>
			        <input th:field="*{username}" class="form-control" required="true" autofocus="true" />
			    </div>
			    <div>
			    	<p th:each="error: ${#fields.errors('email')}" th:text="${error}">Validation error</p>
			        <label th:text="#{label.user.email}" >email</label>
			        <input th:field="*{email}" type="email" class="form-control" required="true"/>
			    </div>
			    <div>
			    	<p th:each="error: ${#fields.errors('password')}" th:text="${error}">Validation error</p>
			        <label th:text="#{label.user.password}">password</label>
			        <input th:field="*{password}" type="password" class="form-control" required="true"/>
			    </div>
			    <div>
			        <label th:text="#{label.user.confirmPassword}">confirm</label>
			        <input type="password" class="form-control" required="true" />
			    </div>
			    <br/>
			    <button th:text="#{label.registration.submit}" type="submit" class="btn btn-lg btn-primary btn-block">submit</button>
			</form>
		</div>
	
		<div class="col-sm-2"></div>
			
	</div>
	 
	
</body>
</html>