<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body>

	<div th:replace="fragments/header :: header">...</div>
	
	<div class="container">
	
		<div class="col-sm-4"></div>
		
		<div class="col-sm-4">
		
			<h2 th:text="#{label.forgotpassword.title}" class="form-signin-heading text-center">Sign In</h2>
			<h4 th:text="#{label.forgotpassword.subtext}" class="form-signin-heading text-center">Help text</h4>
			<br/>
			
			<form name='f' action='/user/forgotPassword' method='POST' class="form-signin">	
				<p th:text="#{label.forgotpassword.email}">Email</p>
		        <input th:placeholder="#{label.forgotpassword.email}" type="email" name="email" class="form-control" required="true" autofocus="true" />
		        <br/>
		        <button th:text="#{label.forgotpassword.submit}" class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
			</form>
			
		</div>
		
		<div class="col-sm-4"></div>
	</div>

</body>
</html>