<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body ng-app="homeApp">

	<div th:replace="fragments/header :: header">...</div>

	<div class="container">

		<div ng-controller="HomeCtrl">
			
			<div>
				<h1>Welcome to QuizZz!</h1>
				<br/>
			</div>
				
			<table class="table table-hover" align="center">
				<thead>
					<tr>
						<th width="70%">Quiz</th>
						<th>Questions</th>
						<th>Times played</th>
						<th>Play!</th>
					</tr>
				</thead>
				<tbody>				
					<tr ng-repeat="quiz in quizzes" class="borderless">
						<td>
							<h4>{{quiz.name}}</h4>
							<h5><small class="text-muted">{{quiz.description}}</small></h5>
						</td>
						<td>
							<p>20</p>
						</td>
						<td>
							<p>5033</p>
						</td>
						<td>
							<button class="btn btn-primary">
								<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		

	</div>


<script src="http://cdn.jsdelivr.net/webjars/angularjs/1.3.8/angular.min.js"
        th:src="@{/webjars/angularjs/1.3.8/angular.min.js}"></script>
<script type="text/javascript" src="../js/homeApp.js"
        th:src="@{/js/homeApp.js}"></script>
</body>
</html>