<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body>

	<div th:replace="fragments/header :: header">...</div>
	
	<div class="container">
	
		<div class="col-sm-4"></div>
		
		<div class="col-sm-4">
			<h1 th:text="#{label.resetpassword.title}" class="form-signin">form</h1>
			<br/>
			<form th:action="|/user/${user.id}/resetPassword|" method="POST" enctype="utf8">
				<input type="hidden" th:value="${token}" name="token" />

			    <div>
			        <label th:text="#{label.user.password}">password</label>
			        <input name="password" type="password" class="form-control" required="true" />
			    </div>
			    <div>
			        <label th:text="#{label.user.confirmPassword}">confirm</label>
			        <input type="password" class="form-control" required="true" />
			    </div>
			    
			    <br/>
			    
			    <button th:text="#{label.resetpassword.submit}" type="submit" class="btn btn-lg btn-primary btn-block">submit</button>
			    
			</form>
		</div>
	
		<div class="col-sm-4"></div>
			
	</div>
	 
	
</body>
</html>